@use "../themes/_default"

$appbar-background-color: default.$color-secondary
    
.appbar
    display: flex
    justify-content: center
    margin-top: 42px
    width: 100%
    max-height: 56px
    background-color: $appbar-background-color
    // border-bottom: 2px #8a60c2 solid

    &__logo
        margin: 0 16px
        border-radius: 36px
        height: 74px
        width: 74px
        background-color: #cccccc
        transform: skew(-20deg)


    &__row
        display: flex
        align-items: center
        margin-block-start: 0
        margin-block-end: 0
        padding-inline-end: 0
        padding-inline-start: 0        

    &__item
        list-style-type: none
        transform: skew(20deg)

    &__text
        transform: skew(-20deg)

    &__link
        text-decoration: none
        // color: black
        color: #BB86FC
        // background-color: #cccccc
        background-color: #121212
        // widows: 100px
        // transform: skew(20deg)
        display: block
        padding: 8px 16px
        margin: 0 6px
        width: 10rem
        text-align: center
        font-weight: bold
