<nav class="appbar">
    <ul class="appbar__row">
    <!-- /TODO: Convert this to a "smart" mechanism instead of a fixated number -->
    {{ range first 2 site.RegularPages }}
        <li class="appbar__item">
            <a class="appbar__link" href="#{{ lower .Title }}"><div class="appbar__text">{{ .Title }}</div></a>
        </li>
    {{ end }}
        <li class="appbar__item">
            <div class="appbar__logo">
                <a href="/">
                    <img src="/wk3r-website/images/logo.png" height="100%" />
                </a>
            </div>
        </li>
    {{ range last 2 site.RegularPages }}
        <li class="appbar__item">
            <a class="appbar__link" href="#{{ lower .Title }}"><div class="appbar__text">{{ .Title }}</div></a>
        </li>
    {{ end }}
    </ul>
</nav>