<footer class="footer">
    <div class="footer__container">
    <!-- Agreement -->
    <div class="footer__branding-container">
        <div class="footer__branding">
            <a href="/"><b>WK3R</b> Prime</a>
        </div>
    </div>
    <div class="footer__links">
        <div class="footer__link-column">
            <h4>Support</h4>
            {{ range $name, $val := $.Site.Params.communication }}
                <a class="footer__link" href="{{ $val }}">{{ title $name }}</a>
            {{ end }}
        </div>
        <div class="footer__link-column">
            <h4>Repositories</h4>
            {{ range $name, $val := $.Site.Params.repositories }}
                <a class="footer__link" href="{{ $val }}">{{ title $name }}</a>
            {{ end }}
        </div>
    </div>
    <div class="footer__social">
    </div>
    {{ if $.Site.Params.agreement.message }}
    <div class="footer__agreement">
        {{ safeHTML $.Site.Params.agreement.message }}
    </div>
    {{ end }}
    </div>
    {{ if $.Site.Params.copyright.message }}
    <div class="footer__copyright">
        {{ safeHTML $.Site.Params.copyright.message }}
    </div>
    {{ end }}
</footer>