{{ define "main" }}
<div class="title"><b>WK3R</b> Prime</div>
<hr width="150px" color="#d84fe8">
{{ .Content }}
<h2 style="text-align: center;" >Repositories</h2>

{{ range site.RegularPages }}
    <section id="{{ lower .Title  }}">
        <h1>{{ .Title }}</h1>
        <p> {{ .Content }} </p>
        {{ if eq .Title "History" }}
            <div>
                <iframe src="https://time.graphics/embed?v=1&amp;id=399737" frameborder="0" allowfullscreen="" style="
                width: 75%;
                height: 375px;
            "></iframe>
            </div>
        {{ end }}
    </section>
    <hr width="150px" color="#d84fe8">
{{ end }}
{{ end }}